.bg-body-custom {
  background-color: #ff66c433;
}

.btn.btn-outline-custom {
  color: #0e0a01;
  border-color: #ff66c4;
}

.btn.btn-outline-custom:hover {
  color: #fefaf1;
  background-color: #ff66c4;
  border-color: #ff66c4;
}